video {
  border-radius: 50px;
  height:60vh;
  width: 80vh !important;
  max-width: 100%;
}
.react-html5-camera-photo {
  height:60vh
}

body {
  margin: 0;
    font-family: 'Mukta Mahee', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Mukta Mahee', sans-serif;

}

/*
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
*/
